# Virtual environments
.venv/
.venv1/
venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE files
.idea/
.vscode/

# Jupyter
.ipynb_checkpoints/

# Runtime/generated folders
uploads/
outputs/
models/have_up_subset.csv
# OS files
.DS_Store
Thumbs.db